#main {
  padding-top: 32px; }
  #main #sidebar {
    padding: 8px 12px;
    width: 15%;
    position: absolute; }
  #main #main-row {
    margin-left: 18%; }
  #main .ingredient-list {
    min-height: 200px;
    max-height: 200px;
    overflow-y: hidden;
    border: 1px solid #ccc;
    margin-bottom: 12px;
    padding: 12px 8px; }
  #main .ingredient-input {
    margin-left: 0; }
    #main .ingredient-input .selectize-input {
      height: 44px; }
      #main .ingredient-input .selectize-input input {
        width: 100% !important;
        font-size: 16px;
        line-height: 22px !important; }
  #main .ingredient-option .ingredient-option-description {
    padding: 4px 0;
    font-size: 9px;
    color: #999; }
  #main .ingredient-option .ingredient-option-icon {
    float: right;
    margin-right: 8px; }
  #main .ingredient-row {
    /* hop specific */ }
    #main .ingredient-row .ttip {
      display: inline;
      font-size: 12px; }
    #main .ingredient-row i {
      margin: 0;
      display: inline;
      cursor: pointer; }
    #main .ingredient-row .ingredient-weight {
      width: 32px;
      height: 24px; }
    #main .ingredient-row .ingredient-weight-unit {
      height: 28px; }
    #main .ingredient-row .hop-aau {
      width: 32px; }
  #main #combined-color {
    color: white;
    text-align: center;
    margin: 0 27%;
    padding: 4px 12px 18px 12px; }
  #main #target-volume-container {
    padding-left: 4%; }
    #main #target-volume-container #target-volume-input {
      width: 62px;
      height: 32px;
      font-size: 24px;
      color: #999;
      text-align: right; }
  #main #efficiency-input {
    height: 32px;
    width: 48px;
    font-size: 28px;
    color: #999;
    text-align: right; }
  #main #efficiency-slider {
    height: 8px; }
  #main #recipe-details h4 {
    display: inline; }
  #main #recipe-details .editable {
    color: #999;
    cursor: pointer; }
  #main #recipe-details .drawer.active {
    border: 1px solid #999;
    background-color: #ccc; }
  #main #recipe-details #calculated-ibu-container {
    padding-left: 15%; }
  #main #mash #mash-inputs .mash-input-row .mash-input {
    text-align: right; }
  #main #mash #mash-inputs .mash-input-row .mash-input-unit {
    text-align: left; }
